@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    background: #3E3C3C;
    left: 0;
    top: 0;
}

a.navbar-brand{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

a.nav-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.container-main {
    display: flex;
    gap:87px ;
    background: #1C1A19;
}

.container-icons {
    margin-top: 4rem;
}

.container-icons li {
    list-style: none;
    margin-bottom: 5px;
}

.container-heading {
    background: url(/img/illustration-header-mobile.png);
    background-size: 50rem;
    background-position: 20px;
    background-repeat: no-repeat;
}

.container-heading > p {
    width: 12rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.container-heading > h1 {
    color: #FF6B00;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 64px;
}

.container-heading > h2 {
    font-size: 18px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}