@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar {
    background: #3E3C3C;
    left: 0;
    top: 0;
}

a.navbar-brand{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

a.nav-link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.container {
    width: 1440px;
    height: 870px;
    padding: 192px, 0px, 192px, 0px;
    gap: 24px;
}

.col-8 {
    background-color: aqua;
    width: 566px;
    height: 739px;
    padding-top: 192px;
    padding-bottom: 192px;

}